@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&family=Jacquard+12&display=swap');

body {
    background-image: url('img/paper_bg.jpg');
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 10%;
    max-width: 100%;
}

article {
    column-count: 2;
    column-gap: 10%;
}

article section div.article-content {
    display: none;
}

article section footer {
    display: none;
}

article aside img{
    float: right;
    max-width: 50%;
    margin: 10px;
    border: 5px solid rgb(169, 29, 29);
}

article header > p:first-letter {
    font-size: 400%;
    margin-right: 2px;
}

header:has(input[type=checkbox]:checked) ~ div.article-content {
    display: initial;
}

header:has(input[type=checkbox]:checked) ~ footer {
    display: initial;
}

article section h2 {
    display: inline-block;
}

a[href^="http"]::after {
    content: " ("attr(href)")";
    font-size: 80%;
}

a[href^="mailto:"]::before {
    content: "✉";
}

@media (max-width: 600px) {
    article {
        column-count: 1;
    }
}

@media (min-width: 600px) {
    body {
        width: 21cm;
        background-image: none;
        background-color: lightgray;
        padding: 5%
    }

    article {
        background-color: white;
        box-shadow: 10px 5px 5px gray;
        border: 2px solid black;
        padding: 5%
    }
}

@media print{

    @page {
        size: A5;
        margin: 3cm;
    }

    article {
        break-after: always;
    }

    article section {
        break-after: always;
    }

    body > :not(article) {
        display: none;
    }
}